@import "../styles/global/variables";

.container-budgets-card {
  width: 95%;
  // border: 1px black solid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 400px));
  gap: 1em;
  padding: 0.5em 1em;
  justify-content: center;
}

.budget-max-amount {
  color: $gray;
  margin-left: 0.2em;
  font-size: 0.8em;
}
