@import "../styles/global/variables";

.form-input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-text {
  font-size: 0.8em;
}

.form-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-label-text {
  font-size: 0.9em;
}

.form-input-container {
  padding: 0.2em 0.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2em;
  border: 1px $dark solid;
  border-radius: 6px;
  $color: $gray;

  .form-input {
    border-radius: 5px;
    border: 1px $dark solid;
    color: $dark;
    width: 100%;
    border: none;

    -moz-appearance: textfield;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }

  .form-input-vertical-rule {
    height: 1em;
    width: 1px;
    background: $gray;
    visibility: hidden;
  }

  .form-input:focus {
    border: none;
    outline: none;
  }

  svg {
    width: 1em;
    height: 1em;
    stroke: $light-gray;
    cursor: pointer;
    visibility: hidden;
  }

  &:active {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);

    .form-input-vertical-rule {
      visibility: visible;
    }
    svg:active {
      visibility: visible;
      stroke: red;
    }
  }

  &:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.8);

    .form-input-vertical-rule {
      visibility: visible;
    }

    svg {
      visibility: visible;
    }

    svg:hover {
      stroke: darken($light-gray, 20);
    }
  }
}
