@import "../styles/global/variables";

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  min-height: 120px;
  gap: 1em;
  padding: 1em;
  padding-bottom: 0.5em;
  flex-shrink: 0;
  z-index: 1;

  position: sticky;
  top: 0;
  left: 0;
  min-width: 370px;
  left: 0px;
  top: 0px;

  background: $light-gray;

  .site-logo {
    color: $primary;
    font-size: $header-font-size;
    span {
      color: $dark;
    }
  }

  .header-section:nth-child(1) {
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .header-section:nth-child(2) {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;

    // transform: translateY(0px);
    transition: 0.3s ease-in-out;
  }

  .header-section svg {
    cursor: pointer;
    width: 100%;
  }

  .header-section svg {
    stroke: $gray;
  }
  .header-section svg:hover {
    stroke: lighten($gray, 10);
  }
  .header-section svg:active {
    stroke: lighten($gray, 20);
  }

  .button-intersect {
    position: fixed;
    width: 105vw;
    height: 100px;
    top: -100px;
    left: 0px;

    background: rgba(209, 209, 209, 0.8);
    backdrop-filter: blur(8px);
    transition: 0.5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1em;
    padding-bottom: 1.2em;
  }

  .ontop {
    transform: translateX(50%);
    transform: translateY(90px);
  }
}
